body {
    padding: 0;
    margin: 0;
}


/* Nabvar */
nav {
    background: #ffbf00 !important;
}
/* INT Content */
.contenedor {
    width: 100% !important;
}

.title-products {
    padding: 35px 60px 4px;
}

.cards {
    display: flex;
    justify-content: center;
}

.image-cards img {
    max-width: 300px;
    max-height: 300px;
}

.title-products,
.fadeIn-one,
.fadeIn-two,
.fadeIn-three {
    display: none;
}