body {
    padding: 0;
    margin: 0;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif !important;
}


/* Nabvar */
nav {
    background: #ffbf00 !important;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link {
    color: #7b7b7b !important;
}

/* INT Content */
.contenedor {
    width: 100% !important;
}

.title-products {
    padding: 35px 0px 4px;
    position: relative;
}

.cards {
    display: flex;
    justify-content: center;
}

.image-cards img {
    max-width: 336px;
    max-height: 300px;
}

.fadeIn-one,
.fadeIn-two,
.fadeIn-three {
    display: none;
}